# Build Related
.gradle
.gradle-tmp
build
local.properties
*.iml
.idea

# Electron Bloat
/.vscode
*.pak
*.asar

# Certificate & tmp files
/sign
*.jks
*.keystore
keystore.properties
/anim
/tmp

# Agent Related
/CLAUDE.md
/GEMINI.md
/AGENTS.md
/.claude
/.codex
/.gemini
/.agents
/.codegraph
/.trellis

# GitHub?
/.github

# For those who using Android Studio
# btw I use Neovim
captures/
*.hprof

# Live2D integration
# Why ignoring this? For developers to 
# integrating themselves models.
models/
expressions/
motions/
*.model3.json
*.moc3
*.cdi3.json
*.physic3.json
